{
  "grpcGatewayUrl": "https://your-namespace-ext-playtesthub.gamingservices.accelbyte.io/playtesthub",
  "iamBaseUrl": "https://your-namespace.accelbyte.io",
  "discordClientId": "your-discord-oauth-client-id"
}
